In [1]:
import numpy as np
import pandas as pd

## 1. The Pandas Series Object

A Pandas Series is a **one-dimensional array of indexed data**. It can be created **from a list or array** as follows:

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

As we see in the output, the **Series** wraps both a sequence of **values** and a sequence of indices, which we can access with the **values** and **index** attributes. The **values** are simply a familiar NumPy array:

In [3]:
data.values

array([ 0.25,  0.5 ,  0.75,  1.  ])

The **index** is an array-like object of type **pd.Index**, which we'll discuss in more detail momentarily.

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

Like with a **NumPy array**, data can be accessed by the associated **index** via the **familiar Python square-bracket notation**:

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

As we will see, though, the **Pandas Series** is much **more general and flexible** than the **one-dimensional** NumPy array that it emulates.

## 2. Series as generalized NumPy array

The **essential difference** is the presence of the index: while the **Numpy Array** has an **implicitly defined integer index** used to **access the values**, the Pandas Series has an **explicitly defined index** associated with the **values**.

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [10]:
data[5]

0.5

## 3. Series as specialized dictionary

The **Series-as-dictionary** analogy can be made even more clear by constructing **a Series object** directly from a **Python dictionary**:

In [11]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [12]:
population['California']

38332521

Unlike a dictionary, though, the Series also supports **array-style operations** such as **slicing**:

In [13]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

## 4. Constructing Series objects

pd.Series(data, index=index)

where **index** is an **optional argumen**t, and data can be one of many **entities**.

For example, **data** can be a list or NumPy array, in which case **index** defaults to an integer sequence:

In [14]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

**data** can be a scalar, which is repeated to fill the specified index:

In [15]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

**data** can be **a dictionary**, in which **index** defaults to the **sorted dictionary keys**:

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In each case, the **index** can be explicitly set if **a different result** is preferred:

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, the **Series** is populated only with the explicitly identified keys.

## 5. The Pandas DataFrame Object

If a **Series** is an analog of a one-dimensional array with flexible indices, a **DataFrame** is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a **DataFrame** as a sequence of aligned **Series objects**. Here, by "aligned" we mean that they share the same index.

In [18]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

Now that we have this along with the **population** Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [22]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

Like the **Series** object, the **DataFrame** has an **index** attribute that gives access to the index labels:

In [23]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Additionally, the DataFrame has a **columns attribute**, which is an **Index** object holding the column labels:

In [24]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the **DataFrame** can be thought of as a generalization of a **two-dimensional** NumPy array, where both the rows and columns have a generalized index for accessing the data.

## 6. DataFrame as specialized dictionary

Similarly, we can also think of a **DataFrame** as a specialization of a dictionary. Where a dictionary maps a key to a value, a **DataFrame** maps a column name to a Series of column data. For example, asking for the **'area'** attribute returns the **Series** object containing the areas we saw earlier:

In [25]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Notice the potential point of confusion here: in a two-dimesnional NumPy array, **data[0]** will return the first row. For a **DataFrame**, **data['col0']** will return the first column. Because of this, it is probably better to think about **DataFrames** as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful.

## 7. Constructing DataFrame objects

#### 7.1 From a single Series object

A **DataFrame** is a collection of **Series** objects, and a single-column **DataFrame** can be constructed from a single **Series**:

In [27]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [26]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### 7.2 From a list of dicts

Any list of dictionaries can be made into a **DataFrame**. We'll use a simple list comprehension to create some data:

In [28]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

Even if some keys in the dictionary are **missing**, Pandas will **fill** them in with NaN (i.e., "not a number") values:

In [29]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### 7.3 From a two-dimensional NumPy array

Given a two-dimensional array of data, we can create a **DataFrame** with any specified column and index names. If omitted, an integer index will be used for each:

In [30]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.166334  0.529302
b  0.468555  0.224140
c  0.407271  0.765557

#### 7.4 From a NumPy structured array

We covered structured arrays in **Structured Data: NumPy's Structured Arrays.** A Pandas **DataFrame** operates much like a structured array, and can be created directly from one:

In [31]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0,  0.), (0,  0.), (0,  0.)],
      dtype=[('A', '<i8'), ('B', '<f8')])

In [32]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## 8. The Pandas Index Object

We have seen here that both the **Series** and **DataFrame** objects contain an explicit index that lets you reference and modify data.

In [33]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

#### 8.1 Index as immutable(不变的) array

The **Index** in many ways operates like an array.

In [34]:
ind[1]

3

In [35]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

**Index** objects also have many of the **attributes** familiar from **NumPy arrays**:

In [36]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

One **difference** between **Index objects** and **NumPy arrays** is that indices are **immutable–that is**, they cannot be modified via the **normal means**:

In [37]:
ind[1] = 0

TypeError: Index does not support mutable operations

## 9. Index as ordered set

The **Index** object follows many of the conventions used by Python's built-in **set data structure**, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [38]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [39]:
# intersection
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [40]:
# union
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [41]:
# symmetric difference (对称差分-亦或)
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

These operations may also be accessed via object methods, for example **indA.intersection(indB).**